.venv/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
/dist/
/build/
cmd/gk2-editor/build/*
!cmd/gk2-editor/build/appicon.png
cmd/gk2-editor/frontend/package.json.md5
*.dat
*.info
/gk2
/gk2.exe
cmd/gk2/gk2
cmd/gk2/gk2.exe
/bin/
